/* --background:   #121212; */
/* --foreground:   #BFBFBF; */
/* --visual:       #404040; */
/* --cursor:       #383838; */
/* --black:        #232323; */
/* --red:          #FF5454; */
/* --green:        #00CC7A; */
/* --yellow:       #FFD700; */
/* --orange:       #FF7431; */
/* --blue:         #00BFFF; */
/* --cyan:         #00FFFF; */
/* --white:        #BFBFBF; */
/* Base settings */
* {
  color: #00CC7A;
  border:none;
}
window {
  font-size:24px;
  font-family: "Fira Code Bold";
  background-color: #121212;
  box-shadow:none;
  /* color: #00CC7A; */
  /* border: 5px solid #00CC7A; */
  /* border-bottom:none; */
}

#outer-box{
  /* border:20px solid black; */
  /* border-top: 4px solid #00CC7A; */
  border-bottom: 4px solid #00CC7A;
  border-left: 2px solid #00CC7A;
  border-right: 4px solid #00CC7A;
  border-radius:12px;

}

#inner-box {
  /* border:10px solid red; */

  border: 2px solid #00CC7A;
  border-top: 0px solid #00CC7A;
  border-bottom: 0px solid #00CC7A;
}

#entry {
  padding: 0.25em;
  padding-bottom: 10px;
  border-left: 2px solid #00CC7A;
}

#entry:selected {
  background-color: #121212;
  /* background: linear-gradient(90deg,#bbffdd,#dd77ff); */
  background: linear-gradient(90deg,#232323,#00CC7A);
  /* border-left: 1px solid #00CC7A; */
  border-top: 2px solid #00CC7A;
  border-bottom: 2px solid #00CC7A;
  border-left: 2px solid #00CC7A;
  border-radius: 0px;
}

#text:selected {
  /* color: #00CC7A; */
}

#input {
  background-color: #121212;
  /* color: #00CC7A; */
  padding: 0.25em;
  box-shadow:none;
  border: 0px transparent #00CC7A;
  border-top:4px solid #00CC7A;
  border-left: 4px solid #00CC7A;
  border-bottom:2px solid #00CC7A;
  border-radius:8px 8px 0px 0px;
}
#input:focus{
}

#input image{
  padding-left: 2px;
}

image {
  margin-left: .25em;
  margin-right: .25em;
}
